@font-face {
	font-family: Work Sans;
	src: url(../assets/fonts/static/WorkSans-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: Work Sans;
	src: url(../assets/fonts/static/WorkSans-SemiBold.ttf);
	font-style: italic;
	font-weight: 600;
}
@font-face {
	font-family: Work Sans;
	src: url(../assets/fonts/static/WorkSans-Bold.ttf);
	font-weight: 700;
}